<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Boek Applicatie</title>
 <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
          <link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="~{fragments/navbar :: navbar}"> </div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
<i class="fa-regular fa-heart"></i>
	<i class="fa-solid fa-heart"></i>
</body>

</html>